
@{
    ViewBag.Title = "UserCreate";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>UserCreate</title>
</head>
<body>
    <h4>Personal Info</h4>
    <h4>DonationID is: @Session["DonationID"]</h4>

    @using (Html.BeginForm())
    {
<table>
    <tr>
        <td>@Html.Label("Enter First Name: ")</td>
        <td>@Html.TextBox("FirstName")</td>
    </tr>
    <tr>
        <td>@Html.Label("Enter Last Name: ")</td>
        <td>@Html.TextBox("LastName")</td>
    </tr>
    <tr>
        <td>@Html.Label("Enter Email: ")</td>
        <td>@Html.TextBox("Email")</td>
    </tr>
    <tr>
        <td>@Html.Label("Enter Address: ")</td>
        <td>@Html.TextBox("Address1")</td>
    </tr>

</table>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    }

</body>
</html>
