
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div>
        Placeholder text for Order Summary
    </div>
    <div>Session DonationID is @Session["DonationID"]</div>
    <div>Session Price is @Session["Price"]</div>
    <div>Session FirstName is @Session["FirstName"]</div>
    <div>Session LastName is @Session["LastName"]</div>
    <div>Session Email is @Session["Email"]</div>
    <div>Session Address is @Session["Address1"]</div>


</body>
</html>
